 
 

 body{
    background-image: linear-gradient(to right,#d53b45 , #a54690)}

   header {padding: 10px;
            display: flex;
            justify-content: space-between;
            background-image: linear-gradient(to  right ,#000 ,#d53b45 , #a54690, rgb(0, 0, 0));}

    .topheader{ 
            display: flex;
            justify-content:flex-end;}

    .logo{display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        border-radius: 50%; }


        header nav ul {
        list-style: none;
        grid-row: 1;
        background: to right #a54690, #ab83d4;
        padding: 0px;
        margin:0;
        display:flex;
        text-decoration: solid;
        border-radius: 5px;
        font-size: 2em;
        list-style: none;
        color: rgba(255, 255, 255, 0);
        line-height: 50px;
        
        }
        header section { padding-left:2px;}
    
        header nav ul li {
            margin-right: 10px;
            padding-left: 40px;
            font-style: italic;
            content: icon;
        }
        

.description {
            background-color: #f5f5f5;
            padding: 20px;
            border-radius: 5px;
            max-width: 800px; 
            margin: 5px auto;
            box-sizing: 2px border-box;


h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}


        
     .main-section ul{
        grid: 0;
        grid-row: 2;
        display: contents
    }


     .topheader ul { 
            display: flexbox;
            flex-flow: column 2;
        
    }
 
    .Spotify {
        width: 100%;
        margin: 200px;
        padding-left: 1px;
        gap: 10px;
        max-height: 300px;
        content-visibility:auto;
 }

    .Twitter {
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 12px;
        max-width: 800px; 
        margin: 10px auto; 
        box-sizing: 2px border-box; 
        

 }
    .main-section {
     display: flex;
     background-color:#a54690 , #ab83d4;
     padding: 0;
     margin: 0;  }


 
 
 
 footer {
    background-image: linear-gradient(to  right ,#000 ,#d53b45 , #a54690, rgb(0, 0, 0) );
    grid-row: 3;
    padding: 10px;
}

user agent stylesheet
footer {background-image: linear-gradient(to bottom right,#d53b45 , #a54690);
    display: block;
}
 

.footer__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    gap: 20px;
    align-items: baseline;
}
.container-form {
            margin: 0 auto;
            margin-bottom: 30px;
            overflow: hidden;
            max-width: 1920px;}



.a :-webkit-any-link {
                color: -webkit-link;
                cursor: pointer;
                text-decoration: underline;}

.ul li a {
                color: var(--color-tertiary);
                font-size: 25px;
                text-decoration: none;
                background-color: transparent;
            }
.nav-footer {
                text-align: center;
                align-items: center;
                font-weight: 300;
                margin: 20px;
}
 


.footer div{

    display: flex;
    align-items: flex-end;
    column-gap: 300px;
}

#address{
    margin: 30px;
    width: 200px;
    height: 200px;}

  

.row{ background-color:#a54690 , #ab83d4;
    border: 3px solid #a54690 , #ab83d4;
    padding: 5px;
    margin: 10px; 
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;

}
.col{
    background-color:#a54690 , #ab83d4;
    color: white;
    font-size: 50px;
    border: 3px solid black , #ab83d4;
}

.image-container {
    width: auto;
    height: auto;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    -webkit-overflow-scrolling: touch;
    scale: 66%;
  }

  
  .banner {
    
    display: flex;
             align-items{ center
             justify-content{ center{
    background-image: url('./imagenes/banner.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: -1;
  }
  
  .content { 
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align:center;
    color: white;
    padding-right: 50px;
    width: 50%; 
    


  }
  table {
    padding-right: auto;
    border-collapse: collapse;
  }
  
  td {
    border: 1px solid black;
    padding: 10px
  }

  @media 
        screen and (max-width: 480px) ,
        screen and (min-width: 481px) and (max-width: 768px),
        screen and (min-width: 769px),
        screen and (min-width: 1024px){}}}}}

     

