body {  margin: 0;
        margin-right: 0px;
        box-sizing: border-box;
        font-family: sans-serif;
      }

      header {
        background-image: linear-gradient(to bottom, #000, #d53b45, #a54690, #000);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        z-index: 999;
      }

      .logo {
        display: flex;
        align-items: center;
      }

      .logo img {
        max-width: 5rem;
      }

      h1 {
        color: #fff;
        font-size: 24px;
        margin: 0 0 0 10px;
      }

      nav ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
      }

      nav li {
        display: flex;
        gap: 1rem;
        margin: 0 10px;
      }

      nav a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 2px;
        transition: all 0.3s ease;
      }

      nav a:hover {
        background-color: #fff;
        color: #000;
      }

