* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-image:  linear-gradient(to bottom, #000, #d53b45, #a54690, #000);
}

.logo {
    max-width: 5rem;
}
h1 {
    color: #fff;
    font-size: 24px;
    margin: 0 0 0 10px;
      }

.nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #ffffff;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
nav a:hover {
    background-color: #fff;
    color: #000;
  }



.abrir-menu,
.cerrar-menu {
    display: none;
    margin-right: 1rem;
}

@media screen and (max-width: 769px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: initial;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}

}