* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-image: linear-gradient(to  right ,#000 ,#d53b45 , #a54690, rgb(0, 0, 0) )
 }
 
* header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-image: linear-gradient(to bottom, #000, #d53b45, #a54690, #000);
}
* .logo {
  max-width: 5rem;
}
* h1 {
  color: #fff;
  font-size: 24px;
  margin: 0 0 0 10px;
}
* .nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}
* .nav-list li a {
  text-decoration: none;
  color: #ffffff;
}
* nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 2px;
  transition: all 0.3s ease;
}
* nav a:hover {
  background-color: #fff;
  color: #000;
}
* .abrir-menu,
* .cerrar-menu {
  display: none;
  margin-right: 1rem;
}


.container h3 {
  font-family: sans-serif;
  text-align: center;
  padding-right: 50px;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 67%;
  margin: 0 auto;
}

.slider img {
  max-width: 100%;
  height: auto;
  width: 600px;
}

.slider-item {
  flex: 0 0 auto;
  width: 100%;
  scroll-snap-align: center;
}

.carousel-item img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-info,
.redes-sociales {
  flex-basis: 30%;
  max-width: 30%;
}

.contact-info h3,
.redes-sociales h3 {
  color: #d53b45;
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-info p,
.redes-sociales ul li a {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}

.redes-sociales ul li {
  display: inline-block;
  margin-right: 20px;
}

.redes-sociales ul li:last-child {
  margin-right: 0;
}

.redes-sociales ul li a {
  color: #a54690;
  font-size: 24px;
}


.description {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  max-width: 800px;
  margin: 5px auto;
  box-sizing: 2px border-box;
}
.description h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
.description p {
  font-size: 18px;
  line-height: 1.5;
}
.description .main-section ul {
  grid: 0;
  grid-row: 2;
  display: contents;
}
.description .Spotify {
  width: 100%;
  margin: 200px;
  padding-left: 1px;
  gap: 10px;
  max-height: 300px;
  content-visibility: auto;
}
.description .Twitter {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 12px;
  max-width: 800px;
  margin: 10px auto;
  box-sizing: 2px border-box;
}
.description .main-section {
  display: flex;
  background-color: #a54690, #ab83d4;
  padding: 0;
  margin: 0;
}
.description footer {
  background-image: linear-gradient(to right, #000, #d53b45, #a54690, rgb(0, 0, 0));
  grid-row: 3;
  padding: 10px;
}
.description footer {
  background-image: linear-gradient(to bottom right, #d53b45, #a54690);
  display: block;
}
.description .footer__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  gap: 20px;
  align-items: baseline;
}
.description .container-form {
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden;
  max-width: 1920px;
}
.description .a :-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.description .nav-footer {
  text-align: center;
  align-items: center;
  font-weight: 300;
  margin: 20px;
}
.description .footer div {
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 300px;
       column-gap: 300px;
}
.description #address {
  margin: 30px;
  width: 200px;
  height: 200px;
}
.description .row {
  background-color: #a54690, #ab83d4;
  border: 3px solid #a54690, #ab83d4;
  padding: 5px;
  margin: 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.description .col {
  background-color: #a54690, #ab83d4;
  color: white;
  font-size: 50px;
  border: 3px solid black, #ab83d4;
}
.description .image-container {
  width: auto;
  height: auto;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  -webkit-overflow-scrolling: touch;
  scale: 66%;
}
.description .content {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  padding-right: 50px;
  width: 50%;
}
.description table {
  padding-right: auto;
  border-collapse: collapse;
}
.description td {
  border: 1px solid black;
  padding: 10px;
  
}
.card {
  background-image: url(../imagenes/banner.png);
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1.2rem;
  margin-bottom: 20px;

}


  


  
@media screen and (max-width: 769px) {
  * .abrir-menu,
  * .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  * .abrir-menu {
    color: #1c1c1c;
  }
  * .cerrar-menu {
    color: #ececec;
  }
  * .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: initial;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  * .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  * .nav-list {
    flex-direction: column;
    align-items: end;
  }
  * .nav-list li a {
    color: rgba(236, 236, 236, 0.9254901961);
  }
}

@media (max-width: 800px) {
  .redes-sociales {
    display: none;
  }
}


